
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    background-image: url('bg.webp');
    color: #ffdd00;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.container {
    background-color: #00ff8421;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00000080;
    text-align: center;
    width: 100%;
    max-width: 400px;
    animation: fadeIn 1s ease-in-out;

    position: absolute; 
    top: 100px; 
    left: 200px; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    text-align: center;
    outline: none;
    transition: background-color 0.3s;
}

input[type="number"]:focus {
    background-color: rgba(255, 255, 255, 0.4);
}

button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #0059ff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button.reset-btn {
    background-color: #ff5f5f;
}

button.reset-btn:hover {
    background-color: #ff1e1e;
}


.result-box {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

.result-box.show {
    opacity: 1;
}
